[Desktop Entry]
Version=1.0
Type=Application
Name=Warcraft II: Tides of Darkness
Comment=Launch Warcraft II via DOSBox
Exec=sh -c 'dosbox -c "mount c /home/kacper/Games" -c "c:" -c "cd war2/WAR2" -c "imgmount d C:/WAR2/warcr~21.CUE -t cdrom" -c "WAR2"'
Icon=/home/kacper/Games/war2/war2_icon.png
Terminal=false
Categories=Game;StrategyGame;
StartupNotify=false
