[Desktop Entry]
Version=1.0
Type=Application
Name=Warcraft II: Tides of Darkness
Comment=Launch Warcraft II via DOSBox
Exec=dosbox-staging -c "mount c /home/kacper/personal/games/WAR2/" -c "c:" -c "imgmount d C:/WAR2/WAR2.cue -t cdrom" -c "WAR2"
Icon=/home/kacper/personal/games/WAR2/WAR2.PNG
Terminal=false
Categories=Game;StrategyGame;
StartupNotify=false
