[Desktop Entry]
Version=1.0
Type=Application
Name=Warcraft: Orcs & Humans
Comment=Launch Warcraft via DOSBox
Exec=dosbox-staging -c "mount c /home/kacper/personal/games/WARCRAFT/" -c "c:" -c "WAR"
Icon=/home/kacper/personal/games/WARCRAFT/WARCRAFT.PNG
Terminal=false
Categories=Game;StrategyGame;
StartupNotify=false
